body {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.911);
    margin: 0px;
}

header {
    border-bottom: solid 20px rgb(0, 153, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 189, 236);
}

section {
    background: rgb(0, 153, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 20px;
}











