body {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 8px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(10, 199, 224);
}

section {
    background: rgb(4, 57, 78);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color:rgb(9, 98, 214);
}

.chamada-texto {
    margin-right: 10%;
}

h1{
    font-size: 50px
}
 
p{
    font-size: 30px
}
img{

    height: 300px
}


